{% set shop_page = url('<front>')|render ~ 'shop' %}

<div class="works-filter font-alt align-center">
  <a href="#" class="filter active" data-filter="*">{{ 'All categories'|t }}</a>
  {% for taxonomy in content['#view'].result %}
  {% set parent = taxonomy._entity.fields.parent.value[0].target_id ? taxonomy._entity.fields.parent.value[0].target_id : 0 %}
    {% if parent == 0 %}
    <a href="#" class="filter" data-filter=".parent_category-{{ taxonomy._entity.fields.tid.value }}">
      {{ taxonomy._entity.name[0].value }}
    </a>
    {% endif %}
  {% endfor %}
</div>

<ul class="works-grid work-grid-5 clearfix font-alt   work-grid-gut  hide-titles " id="work-grid">
  {% for row in content['#view'].result %}
  {% set parent = row._entity.fields.parent.value[0].target_id ? row._entity.fields.parent.value[0].target_id : 0 %}
  {% set encoded_string = 'f[0]' | rawurlencode ~ '=' ~ ('categories:' ~ row._entity.fields.tid.value) | rawurlencode %}
  {% set cat_url = shop_page ~ '?' ~ encoded_string %}

  {% if parent != 0 %}
    <li class="work-item mix parent_category-{{ parent }}">

      <a href="{{ cat_url }}" class="work-ext-link">
        <div class="work-img">
          <img loading="lazy" src="/sites/default/files/styles/portfolio_570x367_/public/2021-07/placeholder-5.jpg?itok=9-3lrm_G" width="570" height="367" alt="hippocampus" typeof="foaf:Image" />
        </div>
        <div class="work-intro">
          <h3 class="work-title">
            {{ row._entity.name[0].value }}
          </h3>
        </div>
      </a>
    </li>
  {% endif %}
  {% endfor %}
</ul>
